[submodule "src/apriltag_ros"]
	path = src/apriltag_ros
	url = git@github.com:dchavezromero/apriltag_ros.git
[submodule "src/usb_cam"]
	path = src/usb_cam
	url = git@github.com:ros-drivers/usb_cam.git
[submodule "src/apriltag"]
	path = src/apriltag
	url = git@github.com:AprilRobotics/apriltag.git
[submodule "src/joint_state_publisher"]
	path = src/joint_state_publisher
	url = git@github.com:ros/joint_state_publisher.git
[submodule "src/ros_controllers"]
	path = src/ros_controllers
	url = git@github.com:dchavezromero/ros_controllers.git
