<launch>
	<!-- <param name="robot_description" textfile="$(find panda_arm)/robots/panda_arm.xacro"/> -->
	<!-- <node name="spawn" pkg="gazebo_ros" type="spawn_model" args="-param robot_description -urdf -model panda"/> -->
	<rosparam file="$(find panda_arm)/config/panda_joint_limits.yaml" />
	
	<arg name="model" default="$(find panda_arm)/robots/panda_arm.xacro"/>
	<!-- <arg name="gui" default="true" /> -->
	<arg name="rvizconfig" default="$(find panda_arm)/rviz/urdf.rviz" />

	<!-- <param name="robot_description" command="$(find xacro)/xacro $(arg model)" /> -->

	<include file="$(find gazebo_ros)/launch/empty_world.launch">
		<arg name="world_name" value="$(find panda_arm)/worlds/panda_arm.world"/>
		<arg name="paused" value="false"/>
		<arg name="use_sim_time" value="true"/>
		<arg name="gui" value="false"/>
		<arg name="headless" default="true"/>
  	</include>

	<!-- Load the URDF into the ROS Parameter Server -->
	<param name="robot_description"
		command="$(find xacro)/xacro --inorder '$(find panda_arm)/robots/panda_arm.xacro'" />

	<!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
		<param name="use_tf_static" value="false"/>
	</node>  -->

	<node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" respawn="false" output="screen"
    	args="-urdf -model panda_arm -param robot_description"/>

	<!-- ros_control scara launch file -->
  	<include file="$(find panda_arm)/launch/panda_arm_control.launch" />
	
	<!-- <node if="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher_gui" type="joint_state_publisher_gui" />
	<node unless="$(arg gui)" name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" /> -->
	<!-- <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" /> -->
	<node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="true" />

	<!-- <node pkg="tf" type="static_transform_publisher" name="ee_link_broadcaster" args="0 0 0 0 0 0 panda_hand ee_link 100" /> -->
</launch>